<h1>Pagina del chat</h1>
<div>
    <input id="chatbox" placeholder="type a messaje"/>
    <br/><br/>
    <input id="emailBox" type="email" placeholder="Type email"/>
    <br/><br/>
    <button id="sendButton">Enviar</button>
    <br/><br/>
    <div id="historial"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>