<h1>Pagina del chat</h1>
<div>
    <input id="chatEmail" type="email" placeholder="Ingresa tu correo"/>
     <br/><br/>
    <input id="chatInput" placeholder="Ingresa tu mensaje"/>
    <br/><br/>
    <button id="sendButton">Enviar mensaje</button>
    <br/><br/>
    <div id="msgContainer"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>