<h1>Página para iniciar sesión</h1>

<div>
    <form action="/api/sessions/login" method="post">   
        <input type="email" placeholder="correo electrónico" name="email" id="emailFieldLogin">
        <br></br>
        <input type="password" placeholder="contraseña" name="password">
        <br></br>
        <button type="submit" id="btn_login">iniciar Sesión</button>
    </form>
</div>

<br></br>

<a href="api/sessions/github">
        <button>
            inicia Sesión con Github
        </button>
</a>

<script src="js/login.js"></script>