<h1>Registro</h1>

<form action="/api/sessions/register" method="post">

    <input type="text" placeholder="nombre" name="first_name">
    <br></br>
    <input type="text" placeholder="apellido" name="last_name">
    <br></br>
    <input type="number" placeholder="edad" name="age">
    <br></br>
    <input type="email" placeholder="correo electrónico" name="email" id="emailFieldRegister">
    <br></br>
    <input type="password" placeholder="contraseña" name="password">
    <br></br>
    <button type="submit" id="btn_register">Registrarse</button>
</form>

<script src="js/register.js"></script>